.index-board {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(247, 245, 245);

    .chart-wrapper {
        margin: 30px;
        border-radius: 10px;
        box-shadow: 2px 2px 10px 2px #b9b7b7;
        background-color: white;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
                    
        .linechart.basic{
            margin: 15px;
            box-shadow: none;
            font-size: 12px;

            .custom-tooltip {
                background-color: #f5f5f5b3;
                color: rgba(0, 0, 0, 0.7);
                font-Size: 12px;
                border-radius: 10px;
                padding: 10px;
            }
        }        
    }    
}